@namespace Microsoft.AspNetCore.Components
@inherits ComponentBase
@typeparam Element

<div @attributes=ContainerAttributes>
    @if (Page is { })
    {
        @foreach (var item in Page)
        {
            <div>
                @RenderFragment(item)
            </div>
        }
    }
</div>