@namespace Microsoft.AspNetCore.Components
@inherits Component
@typeparam Element
@inject IJSWindow JSWindow

<div id="@ID" class="container" @onscroll="OnScroll" @attributes="ContainerAttributes">
    @{
        var rendered = IsReverse ? Rendered.Reverse() : Rendered;
        var renderElement = rendered.PackIndex().Select(x => new VirtualizationRender<Element>()
            {
                Element = x.Elements,
                Index = x.Index,
                ID = GetElementID(x.Index)
            }).Select(SimplifyRender);
    }
    @RenderComponent(renderElement)
</div>
