@namespace Microsoft.AspNetCore.Components
@inherits Component
@typeparam Element
@inject IJSWindow JSWindow

<div id="@ID" class="container" @onscroll="OnScroll" @attributes="ContainerAttributes">
    @{
        var rendered = IsReverse ? Rendered.Reverse() : Rendered;
    }
    @foreach (var (item, index, _) in rendered.PackIndex())
    {
        var id = GetElementID(index);
        <div id="@id">
            @RenderElement((item,index,id))
        </div>
    }
</div>