@namespace BootstrapBlazor.Components
@inherits ComponentBase

<ModelDialog IsOpen=IsOpen>
    @{
        var info = GetRenderInfo();
    }
    @if (RenderComponent is null)
    {
        <Card>
            <HeaderTemplate>
                <Center>
                    <div>@info.Title</div>
                </Center>
            </HeaderTemplate>
            <BodyTemplate>
                @info.RenderBody
            </BodyTemplate>
            <FooterTemplate>
                @info.RenderFooter(info.Cancellation)
            </FooterTemplate>
        </Card>
    }
    else
    {
        @RenderComponent(info)
    }
</ModelDialog>