@namespace BootstrapBlazor.Components
@inherits ComponentBase

<ModelDialog>
    <dialog id="@context">
        <Center>
            <p class="uploadMaskText">文件正在上传中，请稍等.....</p>
        </Center>
    </dialog>
</ModelDialog>