@namespace Microsoft.AspNetCore.Components
@inherits ComponentBase
@typeparam Element

<Virtualization RenderEmpty=RenderEmpty RenderElement=RenderElement
                Elements=Elements Plus=Plus IsReverse=IsReverse RenderEnd="RenderEnd">
    <RenderComponent>
        <div class="virtualizationSimpleContainer">
            @context.RenderElementAuto
        </div>
    </RenderComponent>
</Virtualization>