@namespace Microsoft.AspNetCore.Components
@inherits ComponentBase
@typeparam Element

<Virtualization RenderEmpty=RenderEmpty RenderElement=RenderElement
                Elements=Elements Plus=Plus IsReverse=IsReverse>
    <RenderComponent>
        <div class="virtualizationSimpleContainer">
            @context.RenderElementAuto
        </div>
    </RenderComponent>
    <RenderEnd>
        @if (RenderEnd is null)
        {
            <div id="@context" style="height:10dvh" />
        }
        else
        {
            @RenderEnd
        }
    </RenderEnd>
</Virtualization>