@namespace Microsoft.AspNetCore.Components
@inherits ComponentBase
@inject IJSWindow JSWindow

<div class="occupyScre watermarkContainer" style="background-image:url(@(SVGUri));background-size:@(ImageSize)">
    <div class="svgContainer">
        @ChildContent(SVGID)
    </div>
</div>