@namespace Microsoft.AspNetCore.Components
@inherits ComponentBase

@if (ChildContent is { })
{
    <div class="autoPlayButtonCntainer" @attributes=ContainerAttributes>
        @ChildContent
        @if (AddPlayButton)
        {
            <div class="playButtonFather">
                <img src="_content/ToolRazor/icon/playButton.svg" class="playButton @ExtraCSSButton" />
            </div>
        }
    </div>
}