
.mask
{
    backdrop-filter: saturate(1.8) blur(15px);
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%
}

.acrylic
{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%
}
