
#components-reconnect-modal
{
    display: none;
}

    #components-reconnect-modal.components-reconnect-show,
    #components-reconnect-modal.components-reconnect-failed,
    #components-reconnect-modal.components-reconnect-rejected
    {
        display: block;
        background-color: white;
        padding: 2rem;
        border-radius: 0.5rem;
        text-align: center;
        box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
        margin: 50px 50px;
        position: fixed;
        top: 0;
        z-index: 10001;
    }
