@namespace Microsoft.AspNetCore.Components
@inherits ComponentBase

@if (@ChildContent is { })
{
    var css = CenterMod switch
    {
        CenterMod.FillFatherElement => "centerMiddRelativelyFill",
        CenterMod.FillElement => "centerMiddRelatively",
        CenterMod.Screen => "centerMiddAbsolute",
        var mod => throw new NotSupportedException($"无法识别{mod}模式")
    };
    <div class="@css" @attributes="ContainerAttributes">
        <div>
            @ChildContent
        </div>
    </div>
}