@namespace Microsoft.AspNetCore.Components.Forms
@inherits ComponentBase
@using System.NetFrancis

@if (ChildContent is { })
{
    <label>
        @ChildContent
        <BlockNavigation IsBlock="@(()=>BlockNavigation(UploadStatus is UploadStatus.Uploading))" />
        <InputFile OnChange="OnChange" style="display:none" @attributes=AdditionalAttributes />
    </label>
}